service vendor.thermal-hal-2-0-renesas /vendor/bin/hw/android.hardware.thermal@2.0-service.renesas
    interface android.hardware.thermal@1.0::IThermal default
    interface android.hardware.thermal@2.0::IThermal default
    class hal
    user system
    group system
